<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<section ng-controller="ContatosController">

	    <h1>Salvar contatos</h1>
	    <form class="form-inline" ng-submit='adicionaContato()'>
	    	<div class="form-group">  	
	    		<input type='text' placeholder='Nome' class="form-control" ng-model='contato.nome'/>
	    	</div>
	    	<div class="form-group">
	    		<input type='tel' placeholder='Telefone' class="form-control" ng-model='contato.telefone'/>
	    	</div>
	    		<button type='submit' class='btn btn-primary'>Salvar</button>
	    </form>

	    <h1>Contatos</h1>
	    <table class="table table-striped">
	    	<tr>
	    		<th>Nome</th>
	    		<th>Telefone</th>
	    	</tr>
	    	<tr ng-repeat='contato in contatos'>
	    		<td>{{contato.nome}}</td>
	    		<td>{{contato.telefone}}</td>
	    	</tr>
	    </table>

	</section>

	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/ContatosController.js"></script>
  </body>
</html>